{% extends 'layout.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Modifier mon profil</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('admin_profile') }}">Profil</a></li>
                        <li class="breadcrumb-item active">Modifier</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="{{ asset('img/default-avatar.png') }}" alt="Photo de profil">
                            </div>
                            <h3 class="profile-username text-center">{{ app.user.firstName }} {{ app.user.lastName }}</h3>
                            <p class="text-muted text-center">{{ app.user.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#settings" data-toggle="tab">Paramètres</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" method="post">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Prénom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="firstName" value="{{ app.user.firstName }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="lastName" value="{{ app.user.lastName }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="email" value="{{ app.user.email }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nouveau mot de passe</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="password" placeholder="Laissez vide pour ne pas changer">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Photo de profil</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" name="profilePhoto">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Enregistrer les modifications</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
